html
	head
		//- title= :is whitespace sensitive
		//- commenting is block sensitive
		title= title
		//- link(rel="stylesheet" href="/css/index.css")
	body
		div#app
			p testing
			div !{content}
		script(src="../main-client.js")
